In [2]:
import pandas as pd 
import numpy as np

tot_merge = pd.read_csv('data/joined_data.csv')

In [5]:
#dropping null values in the salary_standardized column and fill the null values from work_from_home to false 
tot_merge['work_from_home'] = tot_merge['work_from_home'].fillna(value = False)
tot_merge['work_from_home'].isna().sum()

droped_df = tot_merge.dropna(subset= ['description_tokens']) 
droped_df.isna().sum()
droped_df

,id,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,title,company_name,location,via,extensions,posted_at,schedule_type,work_from_home,date_time,description_tokens
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst Technical - Consultant,Intermountain Healthcare,"Oklahoma City, OK",via Monster,"['19 hours ago', 'Full-time', 'Health insurance']",19 hours ago,Full-time,False,00:10.1,"['vba', 'spreadsheet', 'javascript', 'word', '..."
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sr Analyst, Data Engineer",Estee Lauder Companies,Oklahoma,via ZipRecruiter,"['12 hours ago', 'Full-time']",12 hours ago,Full-time,False,00:10.1,[]
2,2,21 to 23,an hour,22.0,21.0,23.0,22.0,NaN,45760.0,Legal Data Analyst,DISYS,United States,via Indeed,"['4 hours ago', '21 to 23 an hour', 'Contractor']",4 hours ago,Contractor,False,00:10.1,[]
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data analyst,Modis,United States,via BeBee,"['13 hours ago', 'No degree mentioned']",13 hours ago,NaN,False,00:10.1,[]
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst (Risk Adjustment Consulting Resea...,Cambia Health Solutions,United States,via LinkedIn,"['23 hours ago', 'Full-time', 'Health insuranc...",23 hours ago,Full-time,False,00:10.1,"['sas', 'matlab', 'sql', 'spss', 'r']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11204,11201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior Data Analyst,Oracle,"Jefferson City, MO",via Trabajo.org,"['19 hours ago', 'Full-time', 'Health insuranc...",19 hours ago,Full-time,False,00:11.6,"['go', 'tableau', 't-sql', 'spreadsheet', 'sha..."
11205,11202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Principal Data Analyst,Fidelity Investments,"Tishomingo, OK",via JobiLike,"['18 hours ago', 'Full-time']",18 hours ago,Full-time,False,00:11.6,"['sap', 'snowflake', 'sql', 'hadoop', 'aws']"
11206,11203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior Data Analyst,Oracle,"Kansas City, MO",via Trabajo.org,"['13 hours ago', 'Full-time', 'Health insuranc...",13 hours ago,Full-time,False,00:11.6,"['go', 'sql']"
11207,11204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Principal Data Analyst,Fidelity Investments,"Marietta, OK",via JobiLike,"['18 hours ago', 'Full-time']",18 hours ago,Full-time,False,00:11.6,"['sap', 'snowflake', 'sql', 'hadoop', 'aws']"
11208,11205,45 to 73,an hour,59.0,45.0,73.0,59.0,NaN,122720.0,HR Analytics PhD to Write Paper on ML Model fo...,Upwork,Anywhere,via Upwork,"['6 hours ago', '45 to 73 an hour', 'Work from...",6 hours ago,Contractor,True,00:11.6,[]

In [6]:
from sklearn.preprocessing import MultiLabelBinarizer
from ast import literal_eval, NodeTransformer 
 
mlb = MultiLabelBinarizer()

# convert description_tokens into col of lists
droped_df["description_tokens"]= droped_df["description_tokens"].apply(literal_eval)

# encode each skill as a unique column
binary_columns = mlb.fit_transform(droped_df["description_tokens"].tolist()) 
encode = droped_df.join(pd.DataFrame(binary_columns, columns=mlb.classes_, index=droped_df.index))
encode

/var/folders/x7/crx4vr4x15bb27ylnzvk1p_r0000gn/T/ipykernel_35309/1216164040.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  droped_df["description_tokens"]= droped_df["description_tokens"].apply(literal_eval)

,id,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,title,...,typescript,unix,unix/linux,vb.net,vba,visio,visual_basic,vue,vue.js,word
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst Technical - Consultant,...,0,0,0,0,1,0,0,0,0,1
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sr Analyst, Data Engineer",...,0,0,0,0,0,0,0,0,0,0
2,2,21 to 23,an hour,22.0,21.0,23.0,22.0,NaN,45760.0,Legal Data Analyst,...,0,0,0,0,0,0,0,0,0,0
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data analyst,...,0,0,0,0,0,0,0,0,0,0
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst (Risk Adjustment Consulting Resea...,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11204,11201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior Data Analyst,...,0,0,0,0,0,0,0,0,0,0
11205,11202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Principal Data Analyst,...,0,0,0,0,0,0,0,0,0,0
11206,11203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Senior Data Analyst,...,0,0,0,0,0,0,0,0,0,0
11207,11204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Principal Data Analyst,...,0,0,0,0,0,0,0,0,0,0
11208,11205,45 to 73,an hour,59.0,45.0,73.0,59.0,NaN,122720.0,HR Analytics PhD to Write Paper on ML Model fo...,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#save dataframe into a csv file 
encode.to_csv('data/encoded_data.csv', index = False)

In [8]:
# drop null values from salary_standardized 
Sal_df= encode.dropna(subset= ['salary_standardized'])

In [9]:
#convert the clean data into a csv file
Sal_df.to_csv('data/clean_data.csv', index = False)